<tr>
  <td>  
    <%= sale.name %>
  </td>

  <td>  
  <%= sale.starts_on %>
  </td>
  
  <td>  
  <%= sale.ends_on %>
  </td>

  <td>  
  <%= sale.percent_off %>
  </td>
  
  <td>  
    <% if sale.finished? %>
      <button class="btn btn-danger btn-sm">Finished</button>
    <% elsif sale.upcoming? %>
      <button class="btn btn-warning btn-sm">Upcoming</button>
    <% else %>
      <button class="btn btn-success btn-sm">Active</button>
    <% end %>
  </td>
  
</tr>
